div .row {
  display: flex;
  flex-direction: column;
}

div .column {
  display: flex;
  flex-direction: column;
}

div .align-center {
  align-items: center;
}

div .justify-center {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  /* Make rows when on a screen: */
  div .row {
    flex-direction: row;
  }
}