div .row {
  display: flex;
  flex-direction: row;
}

div .column {
  display: flex;
  flex-direction: column;
}

div .switch {
  display: flex;
  flex-direction: column;
}

div .align-center {
  align-items: center;
}

div .align-left {
  align-items: start;
}

div .justify-center {
  justify-content: center;
}