@media only screen and (min-width: 768px) {
  /* Make rows when on a screen: */
  div .switch {
    flex-direction: row;
  }
  
  .card {
  	min-width: 26%;
  }

  .card-margin {
  	margin-left: 1vh;
  	margin-right: 1vh;
    margin-top: 0;
  }

  .card-header, .card-button {
    border-radius: 0;
  }

  .interest-form {
    grid-template-columns: repeat(2, 1fr);
  }
}