.card-header-text {
  color: rgb(242, 243, 242);
  font-weight: 700;
}

.card-text-header{
  font-size: calc(5px + 3vmin);
  margin-top: 4px;
}

.card-text-body{
  font-size: calc(12px + 2vmin);
  font-weight: 360;
}

.tall-line{
  line-height: 2.3;
}

.card-button-text {
  font-size: calc(7px + 2vmin);
  font-weight: 240;
}